{% extends 'base.html' %} {%block content%}
<head>
  {% load static %} {% block extrahead %}
  <link rel="stylesheet" href='{% static "css/home.css" %}' />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
  <title>LETSHOMET | HOME</title>
  {% endblock %}
</head>

<body>
  <div class="main">
    {% for home_post in home_list %}
    <div class="main_routine">
      <div class="youtube_contain">
        <div class="youtube">
          <img class="thumbnail"
          src="http://img.youtube.com/vi/{{home_post.post_url1|slice:"-11:"}}/0.jpg"
          alt="" />
        </div>
      </div>

      <div class="contain">
        <div class="user_name">
          <span class="user_name_this">[ {{home_post.author}} ]</span>
        </div>
        <div class="main_title">
          <span class="title">{{home_post.title}}</span>
        </div>
        <div class="main_detail">
          <span class="detail">{{home_post.context}}</span>
        </div>
        <div class="goto_routine">
          <button
            type="button"
            class="button"
            onclick="location.href='/detail/{{home_post.post_num}}'"
          >
            홈트 보러가기
          </button>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="more_routine_box">
      <div class="more_routine">
        <button
          type="button"
          class="more_button"
          onclick="location.href='postlist'"
        >
          더 많은 홈트보기
        </button>
      </div>
    </div>
  </div>

  {% endblock%}
</body>
