{% extends 'base.html' %} {%block content%}
<head>
  {% load static %} {% block extrahead %}
  <link rel="stylesheet" href='{% static "css/mypage.css" %}' />
  <link rel="stylesheet" href='{% static "css/making.css" %}' />
  <title>LETSHOMET | MAKING HOMET</title>
  {% endblock %}
</head>

<div class="out_wrap">
  <div class="page_title">홈트 제작</div>
  <div class="in_wrap">
    <form
      action=""
      class="making_homet_form"
      method="POST"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <section class="homet_title">
        <div class="name">Title</div>
        <input name="title" class="content" />
      </section>
      <section class="homet_url">
        <div class="name">홈트 URL</div>
        <input name="post_url" class="content" />
      </section>
      <section class="homet_url">
        <div class="name">홈트 URL</div>
        <input name="post_url" class="content" />
      </section>
      <section class="homet_url">
        <div class="name">홈트 URL</div>
        <input name="post_url" class="content" />
      </section>
      <section class="homet_description">
        <div class="name">설명</div>
        <input name="context" class="content" />
      </section>
      <section class="homet_making_end">
        <button class="homet_making_button" type="submit">홈트 만들기</button>
      </section>
    </form>
  </div>
</div>
{% endblock%}
