
.container {
  display: flex;
  justify-content: center;
  border: 5px dashed #ce93d8;
  width:100%;
  height:auto;
}

.main {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 5px dotted #ffc4ff;
  width: 100%;
}

.main_routine_1 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width:90%;
}
.button_1 {
  width: 270px;
  height: 76px;
  background-color: #3c64b1;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  border: none;
}
.youtube_contain_1 {
  background: beige;
  flex-basis:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.user_name_1 {
  background: #b6e3ff;
}
.title_1{
 background: #4d82cb;
}
.detail_1{
  background:#82b1ff;
}
.contain_1 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis:50%;
}

.main_routine_2 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width:90%;
}
.youtube_contain_2 {
  background: beige;
  flex-basis:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.user_name_2 {
  background: #b6e3ff;
}
.title_2 {
 background: #4d82cb;
}
.detail_2 {
  background:#82b1ff;
}
.contain_2 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis:50%;
}


.main_routine_3 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width:90%;
}
.youtube_contain_3 {
  background: beige;
  flex-basis:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.user_name_3 {
  background: #b6e3ff;
}
.title_3 {
 background: #4d82cb;
}
.detail_3 {
  background:#82b1ff;
}
.contain_3 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis:50%;
}

.more_routine_box {
  display:flex;
  justify-content: center;
  align-items: center;
  height:20vh;
}